<div>
  <p>{{{userName}}}, do you wanna reset your password?</p>
  <div >
    <p> Please contact support it wasn't you </p>
    <p> For continue click on link </p>
  </div>
  <a href={{{url}}}>
    <button>Reset</button>
  </a>
</div>