<div class="forgotPassword">
  <p>{{{userName}}}, Do you want to reset your password?</p>
  <div>
    <p>Please contact support if it wasn't you!</p>
    <p>For continue click on button</p>
  </div>
  <div>
    <a href={{{url}}}>
      <button>Reset</button>
    </a>

  </div>
</div>