<div class="welcome">
  <p>{{{userName}}}, You are welcome</p>
  <div>
    {{#if condition}}
      <p>qwertyuiop</p>
    {{/if}}
    {{#each array}}
      <p>{{this.number}}</p>
    {{/each}}
  </div>
  <p>For submit email click on button below</p>
  <button>Submit</button>
</div>