<div>
  <p>
    {{{userName}}}, welcome on your platform!
  </p>
  <div>
    {{#if condition}}
      <p>qweqweqweweqeqw</p>
    {{/if}}
    {{#each erray}}
      <p>{{this.number}}</p>
    {{/each}}
    <p>
      You need submit your email, please click on button
    </p>
  </div>
  <button>Submit</button>
</div>