<div>

  <p>{{{userName}}}, do you want to reset your password?</p>

  <div>
    <p>Please contact support if it wasn't you!</p>
    <p>For continue click on button bellow!</p>
  </div>

  <div>
    <a href={{{url}}}>
      <button>RESET</button>
    </a>
  </div>

</div>