<div class="welcome">

  <p>{{{userName}}}, You are welcome</p>

  <div>

    {{#if condition}}
      <p>this is condition</p>
    {{/if}}

    {{#each array}}
      <p>{{this.number}}</p>
    {{/each}}

    <p>You should submit your password</p>

  </div>

  <div>
    <button>Submit</button>
  </div>

</div>